.main{
  width: 100%;
  height: 240px;
  background-color: black;
  background-image: url('./wall.jpg'); 
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;

}
.sub-class{
  display: flex;
  flex-wrap: wrap;
  margin-top:10px;
}

.col-md-4{
  border: 1px solid black;
}
.moreup{
  display: flex;
  justify-content: center;
  margin:10px;
}
.more{
  color: black;
}
.goLearningBody{

 height: 100%;
 display: flex;
 flex-direction: column;
 margin: 10px;
 padding:10px;

}
.goLearning{

  font-size: large;

}

.player{
  display: flex;
  align-items: center;
  margin-top:0px;
  width:100%;
  margin-top:10px;
  margin-right:50px;
  margin-left:50px;
  background-color: #f0f1f4;
  justify-content: center;
  flex-direction: column;
  
}

.video{
  
  text-align: center;
  padding-left:10px;
  padding-right:10px;
}
.footDiv{
  display: flex;

}
.titleDiv{
  margin-left: 50px;
  margin-right: 70px;

  width: 100%;
  background-color: aliceblue;
}

.mb-3{
  padding-left: 10px;
}

.commentOuter{
  display: flex;
  flex-direction: row;
}

.commentText{
  flex:9
}
.commentButton{
  text-align: center;
  flex:1;
  margin-left:20px;
}


.alertButton{
  display: flex;
  flex-direction: row;
  justify-content:flex-end
}
.commentArea{
  flex:9
}
.deleteButton{
  flex:1
  
}